@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .map-wrapper {
        height: 100vh;
        overflow: hidden;
    }

    #map {
        width: 100%;
        height: 100%;
        min-height: 100%;
        min-width: 100%;
        position: relative;
    }

    .btn-map {
        position: relative;
        top: -100px;
        z-index: 800;
    }
</style>

<div method="post" class="text-center map-wrapper">
    <div id="map"></div>
    <button type="button" class="btn btn-primary btn-lg btn-map">Parkera</button>
    <button type="button" class="btn btn-danger btn-lg btn-map">Lämna</button>
</div>

<script>
    const map = L.map('map').fitWorld();

    const tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);

    let userMarker = L.marker([0, 0], { draggable: true });
    //
    function onLocationFound(e) {
        userMarker
            .setLatLng(e.latlng)
            .addTo(map)
            .bindPopup(`You are here<br>${e.latlng.lat}, ${e.latlng.lng}`)
            .openPopup();
    }

    function onLocationError(e) {
        alert(e.message);
    }

    function onClick(e) {
        userMarker.setLatLng(e.latlng);
        updatePopup(userMarker);
        userMarker.openPopup();
    }

    function onDragEnd(e) {
        updatePopup(userMarker);
        userMarker.openPopup();
    }

    function updatePopup(marker) {
        const latlng = marker.getLatLng();
        const content = `You are here<br>${latlng.lat}, ${latlng.lng}`;
        marker.getPopup().setContent(content);
    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);
    map.on('click', onClick);
    userMarker.on('dragend', onDragEnd);
    //
    map.locate({ setView: true, maxZoom: 14 });
</script>
