@page
@model ParkingApp_FrontEnd.Pages.PolicyModel
@{
}

<style>
    .pt-10 {
        margin-top: 1000px;
    }
    .container2 {
        margin: 600px auto;
        width: 800px;
    }
</style>

<h3>Our Policy</h3>

<div class="container2 text-center">
    <p>
        En policy är en avsiktsförklaring för att styra beslut i en önskad riktning. Termen används såväl inom privat som offentlig sektor.
        EU:s regionala utvecklingsperspektiv och Carterdoktrinen är exempel på policydokument. Policyer används för att underlätta styrning av ett sakområde.
        Till skillnad från lagar är policyns verkansområde begränsat till den organisation som antagit policyn.

        En policy kan vägleda en verksamhet i beslut av subjektiv karaktär, i dessa fall är utformningen av policyn mer principiell.
        En policy kan också vägleda en verksamhet i beslut av objektiv karaktär, i sådana fall är policyn mer explicit i sin utformning.
        Policyer kan användas exempelvis i utarbetandet av olika program, inriktningsmål, ekonomiska prioriteringar och annat beslutsfattande beroende av vad de får för konsekvens för organisationen.
        Policyer kan ses som politiska, organisatoriska, ekonomiska och administrativa mekanismer som skapats för att nå ett eller flera mål.

        Hållbarhet och miljö Företaget arbetar aktivt för att minska miljöpåverkan från den egna verksamheten.
        För tjänstebilar gäller därför att de ska vara miljöbilar eller släppa ut koldioxid på en så låg nivå att utsläppen står i relation till företagets ambitioner i miljöarbetet.
    </p>
</div>
